.container {
  /*min-height: 100vh;*/
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  align-items: baseline;
}

.navbar ul {
  padding-inline-start: 0px;
}

.navbar li {
  display: inline;
}

.navbar li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.navbar li a:hover,
.navbar li a:focus,
.navbar li a:active,
.bold {
  font-weight: 600;
}

.notbold {
  font-weight: 400;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.subtitle {
  margin: 0 0 1rem;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 400;
}

.title {
  text-align: center;
}

.title,
.description,
.subtitle {
  text-align: center;
}


.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 1000px;
  margin-top: 3rem;
}

.contents {
  margin: 10px;
}

/*.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}*/
.card {
  margin: 1rem;
  /*flex-basis: 45%;*/
  /*padding: 1.5rem;*/
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card #text {
  margin: 0;
  font-size: 1rem;
  line-height: 0.5;;
}

.logo {
  height: 1em;
}

.contents ul {
  padding-inline-start: 20px;
}

.contents li {
  text-decoration: none;
  list-style-type: none;
}

@media (max-width: 600px) {
  .grid,
  .contents {
    width: 100%;
    flex-direction: column;
  }
}

.tracksTitle {
  margin-top: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.track iframe {
  width: 700;
  border-radius: 12px;
}